/* react image gallery package */
@import '~react-image-gallery/styles/css/image-gallery.css';

/* Layer directives of tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0;
  }

  a {
    @apply text-inherit no-underline;
  }

  * {
    @apply box-border;
  }
}

/* remove default html arrows on number input field */
@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  .text-balance {
    text-wrap: balance;
  }
}

/* react image gallery customisation */
.image-gallery-slides {
  background-color: #fafaf9;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.image-gallery-slide {
  aspect-ratio: 1/1;
  padding: 10%;
  cursor: default;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left;
}

.image-gallery-thumbnails {
  padding-top: 1rem;
}

.image-gallery-thumbnail {
  width: 23.8%;
  aspect-ratio: 1/1;
  padding: 2%;
  background-color: #fafaf9;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: none;
  }
}

.image-gallery-thumbnail:not(:last-child) {
  margin-right: 1.6%;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: none;
  background-color: #f5f5f4;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus {
    border: none;
    background-color: #f5f5f4;
  }
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: none;
    background-color: #f5f5f4;
  }
}

@media (hover: hover) and (pointer: fine) and (max-width: 768px) {
  .image-gallery-thumbnail:hover {
    border: none;
    background-color: #f5f5f4;
  }
}
