/* google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
/* react image gallery package */
@import '~react-image-gallery/styles/css/image-gallery.css';

/* Layer directives of tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove default html arrows on number input field */
@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* react image gallery customisation */
.image-gallery-slides {
  background-color: rgb(245 245 244);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.image-gallery-slide {
  aspect-ratio: 1/1;
  padding: 10%;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left;
}

.image-gallery-thumbnails {
  padding-top: 1rem;
}

.image-gallery-thumbnail {
  width: 23.8%;
  aspect-ratio: 1/1;
  padding: 2%;
  background-color: rgb(245 245 244);
  border-radius: 0.5rem;
}

.image-gallery-thumbnail:not(:last-child) {
  margin-right: 1.6%;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 3px solid rgb(168 162 158);
}
